<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <form id="loginForm" action="/account/login" method="post">
                        <label for="account_email">Email</label>
                        <input type="text" name="account_email" id="loginEmail" required
                            value="<%= locals.account_email %>">
                        <label for="account_password">Password</label>
                        <small>There must be at least 12 characters, one must be a number, one must be a lowercase
                            letter, one
                            must be a capital letter, and one must be a non-alphanumeric character.</small>
                        <input required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                            name="account_password" type="password" required>
                        <input type="submit" value="Login" />
                        <p>Don't have an account? <a href="/account/register">Sign Up</a></p>
                    </form>