<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>

            <% if (typeof form !=='undefined' && form) { %>
                <%- form %>
                    <% } else { %>

                        <% } %>