<%# The index view is the "body" that will be supplied to the layout. %>
    <div class="grid">
        <!--box model here-->
        <h1>Welcome to CSE Motors!</h1>
        <div class="ad">
            <div class="card">
                <h2>DMC Delorean</h2>
                <ul>
                    <li>3 Cup holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dice!</li>
                </ul>
                <a><img src="/images/site/own_today.png"></a>
            </div>
        </div>

        <h1>DMC Delorean Reviews</h1>
        <div class="list-grid">
            <!--bullet points come here-->
            <ul>
                <li>"So fast it's almost tranveling in time" (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>

        <h1>Delorean Upgrades</h1>
        <div class="inner-grid">
            <!--images come here-->
            <div>
                <div><img src="/images/upgrades/flux-cap.png">
                </div>
                <a href="#">
                    <p>Flux Capacitor</p>
                </a>
            </div>
            <div>
                <div><img src="/images/upgrades/flame.jpg">
                </div>
                <a href="#">
                    <p>Flame Decals</p>
                </a>
            </div>
            <div>
                <div><img src="/images/upgrades/bumper_sticker.jpg">
                </div>
                <a href="#">
                    <p>Bumper Stickers</p>
                </a>
            </div>
            <div>
                <div><img src="/images/upgrades/hub-cap.jpg">
                </div>
                <a href="#">
                    <p>Hub Caps</p>
                </a>
            </div>
        </div>
    </div