/******* Change Box Model ***************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  list-style-type: none;
  padding: 2%;
}

nav a {
  color: white;
}

nav a:hover {
  background-color: white;
}

body {
  background-image: url('/images/site/checkerboard.jpg');
}

.ad {
  background-image: url("/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20%;

}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  /* border: 1px solid red; */
}

.ad a {
  display: block;
  text-align: center;
  width: 100%;
}

.ad a img {
  width: 80%;
  /* max-width: 241px; */
}

a {
  text-decoration: none;
}

#container {
  border: 6px solid aqua;
  background-color: white;
  border-radius: 1%;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}

.grid {
  display: grid;
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.inner-grid>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */

}

.inner-grid>div>div {
  background-color: #4c96d7;
}

.inner-grid div {
  /* background-color: red; */
  max-width: 100%;
  height: auto;
}

.inner-grid img {
  padding: 30px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.list-grid {
  display: flex;
  flex-direction: column;
}

.list-grid li {
  margin-top: 3%;
  margin-bottom: 3%;
}

.inv {
  display: grid;
  grid-template-columns: 1fr;
}

#inv-img {
  max-width: 100%;
  height: auto;
}

#loginForm {
  background-color: #4c96d7;
  /* background-color: #fa6502; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  text-align: center;
  padding: 5%;
}

#loginForm a,
#register-form a {
  background-color: blue;
  padding: 0.5%;
  color: white;
}

#register-form {
  background-color: #4c96d7;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  text-align: center;
  padding: 5%;
}

#addClassification {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 40% 0 40%;
  gap: 20px;
}

#addInventory {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 40% 0 40%;
  gap: 6px;
}

#updateForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 40% 0 40%;
  gap: 6px;
}

#management-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 50% 0 50%;
  text-align: center;
}

#classificationList {
  font-size: 20px;
  padding: 1%;
  border: none;
  appearance: button;
  outline: none;
}

#inventoryDisplay {
  border: 1px solid black;
  text-align: center;

}

#inventoryDisplay thead {
  display: flex;
  text-align: center;
}


@media (min-width: 900px) {

  .notice {
    color: red;
  }

  .success {
    color: green;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 100px 1fr;
  }

  #welcome {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .ad {
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 0%;
    display: flex;
    padding: 5%;
  }

  .card img {
    /* img's size */
    max-width: 241px;
  }

  #reviews {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #upgrades {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .list-grid {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .inner-grid {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .inner-grid>div {
    margin: 0;
    padding: 0;
  }

  .inv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%
  }

  #inv-img {
    max-width: 100%;
    height: auto;
    grid-column: 1/2;
  }

  #inv-display-detail {
    grid-column: 2/3;
  }

  #loginForm {
    background-color: #4c96d7;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1%;
    margin: 0 30% 0 30%;

  }

  #register-form {
    background-color: #4c96d7;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
    text-align: center;
    padding: 5%;
    margin: 0 30% 0 30%;
  }

  #management-container {
    flex-direction: row;
  }
}